$subprice: hsl(179, 49%, 70%);
$pcolor: hsl(179, 62%, 84%);
$whyus: hsl(179, 50%, 50%);
$heading: hsl(179, 90%, 38%);
$h2: hsl(178, 100%, 93%);
$sub: hsl(179, 59%, 44%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(203, 30%, 79%);
$grayish-blue: hsl(218, 22%, 67%);
$bgc: hsl(217, 100%, 96%);
$white: hsl(0, 0%, 100%);
