@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
}

// -------------------------
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: black;
}
// -------------------------

.container, footer {
    background-color: $bgc;
}

.container {
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0 1.5em;
	min-height: 100vh;
}

.cards,
.sub__btn {
	border-radius: 6px;
}

.cards {
	max-width: 310px;
	box-shadow: 0px 3px 14px -4px rgb(126, 128, 141);
	overflow: hidden;
}

.join {
	padding: 1.7em 1.5em 2em;
	background-color: $white;
	color: $grayish-blue;

	&__heading {
		color: $heading;
		font-size: 2rem;
	}

	&__underhead {
		margin: 1.8em 0 1em;
		color: $bright-yellow;
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 20px;
	}

	&__text {
		font-size: 1.37rem;
		line-height: 26px;
	}
}

.sub__heading,
.whyus__heading {
	font-size: 1.8rem;
	color: $h2;
}

.sub,
.whyus {
	padding: 1.5em;
	color: $pcolor;
}

.sub {
	background-color: $sub;

	&__price-box,
	&__btn {
		color: $white;
	}

	&__price-box {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.8em;
		align-items: center;
		margin: 1em 0 0.5em;
	}

	&__price {
		font-size: 3.4rem;
		font-weight: bold;
	}

	&__span {
		grid-column: 2/-1;
		color: $subprice;
		font-size: 1.6rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 1em 0;
		width: 100%;
		background-color: $bright-yellow;
		border: none;
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: 1px;
		box-shadow: 0px 11px 13px -5px rgb(58, 131, 128);
	}
}

.whyus {
	background-color: $whyus;

	&__list {
		margin-top: 1.2em;
		list-style: none;
		font-size: 1.4rem;
		line-height: 20px;
	}
}

@media (min-width: 1300px) {
	.container {
		padding: 0;
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		max-width: 675px;
		background-color: white;
	}

	.join {
		grid-column: 1/-1;
		grid-row: 1/2;
		padding: 3em 2.5em;

		&__heading {
			font-size: 2.5rem;
		}

		&__underhead {
			margin: 1.3em 0 0.7em;
			font-size: 1.9rem;
		}

		&__text {
			font-size: 1.68rem;
		}
	}

	.sub,
	.whyus {
		padding: 2.5em;
		height: 100%;
	}

	.sub__heading,
	.whyus__heading {
		font-size: 1.9rem;
	}

	.sub,
	.whyus {
		grid-row: 2/3;
	}

	.sub {
		grid-column: 1/2;

		&__span {
			font-size: 1.7rem;
		}
	}

	.whyus {
		grid-column: 2/2;

		&__list {
			font-size: 1.5rem;
		}
	}
}
